.download {
text-align: center;
margin: 100px 0;


&_title {
    font-weight: 500;
   font-size: 30px;
   line-height: 35px;
   color: #000000;
   margin-bottom: 15px;
   }


&_subtitle {
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 48px;
    }
   

}




