@import 'style.scss';


/* Features */ 
.features {

&-inner {
    @include flex;
    justify-content: space-between;
    margin-top: 100px;
}


&-item {
    max-width: 32%;
    text-align: center;
    margin-bottom: 100px;
    
   }

   &-item img {
    margin-bottom: 40px;
   }

}


/* Media */ 
@media screen and (max-width: 320px) {

.features {

   &-item {
      max-width: 100%;
      padding: 0 10px;
      
  
  
     }




     &-inner {
      margin-top: 50px;
     }


     &-item img {
      width: 76px;
     }
  
  
}

}



