/*  Header   */ 
.header{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100px;


 &-inner {
    border-bottom: 1px solid #BABBC5;
    align-items: center;
    padding: 35px 0;
 }



 &_logo {
    text-transform: uppercase;
    color:  #656980;
    font-weight: 900;
    font-size: 34px;
}


&_logo span {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;

  
}

}




/* Media */ 

@media screen and (max-width: 320px) {


    .header-inner {
        border: none;
        padding: 15px 0px;
    }


    .header_logo {
        font-size: 22px;
    }
}




@media screen and (min-width: 1024px) { 


    .header-inner {
        margin: 0px 20px;
    }



}
