@import 'style.scss';

.team {
    margin: 100px 0;

    &-inner{
        @include flex;

 
     
        
    }
    
    &-item {
        max-width: 25%;
        margin: 0 auto;
        padding: 0 15px;
      

  
    }


}


.social {
    display: flex;


    &_icon {
        display: block;
        height: 18px;
        
    }
        
&_icon:hover {
    fill: #E71414;
    
    
}


&_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #C6CBCD;
    margin-right: 4px;
}
    
&_img:hover {
    background: #C6CBCD;
    transition:background .2s linear;
}


    &--footer{
        display: flex;
        justify-content: center;
        padding-top: 29px;
        column-gap: 20px;
    }



        &_img--footer{
            fill:#fff;
        }
        
        }


        
        


/* Media */ 
@media screen and (max-width: 320px) {

.team-item {

    max-width: 100%;
    margin: 35px auto;
    
   
    
}

}



@media only screen and (device-width: 1024px) {
    .team_img {
        max-width: 228px;
       
        
    }

 


 
   
}










